<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trojan.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.trojan.entity.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="loginName" jdbcType="VARCHAR" property="loginname"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nickName" jdbcType="VARCHAR" property="nickname"/>
        <result column="realName" jdbcType="VARCHAR" property="realname"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="STATUS" jdbcType="INTEGER" property="status"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="regTime" jdbcType="TIMESTAMP" property="regtime"/>
        <result column="regIP" jdbcType="VARCHAR" property="regip"/>
        <result column="tryTimes" jdbcType="INTEGER" property="trytimes"/>
        <result column="idno" jdbcType="VARCHAR" property="idno"/>
        <result column="reserved1" jdbcType="VARCHAR" property="reserved1"/>
        <result column="reserved2" jdbcType="VARCHAR" property="reserved2"/>
        <result column="reserved3" jdbcType="VARCHAR" property="reserved3"/>
    </resultMap>

    <!--  添加新用户-->
    <insert id="addUser" parameterType="com.trojan.entity.User">
    insert into tbl_user (id, loginName, password,
      nickName, realName, email,
      phone, STATUS, role_id,
      regTime, regIP, tryTimes,
      idno, reserved1, reserved2,
      reserved3)
    values (#{id,jdbcType=INTEGER}, #{loginname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{nickname,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER},
      #{regtime,jdbcType=TIMESTAMP}, #{regip,jdbcType=VARCHAR}, #{trytimes,jdbcType=INTEGER},
      #{idno,jdbcType=VARCHAR}, #{reserved1,jdbcType=VARCHAR}, #{reserved2,jdbcType=VARCHAR},
      #{reserved3,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.trojan.entity.User">
        insert into tbl_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="loginname != null">
                loginName,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="nickname != null">
                nickName,
            </if>
            <if test="realname != null">
                realName,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="regtime != null">
                regTime,
            </if>
            <if test="regip != null">
                regIP,
            </if>
            <if test="trytimes != null">
                tryTimes,
            </if>
            <if test="idno != null">
                idno,
            </if>
            <if test="reserved1 != null">
                reserved1,
            </if>
            <if test="reserved2 != null">
                reserved2,
            </if>
            <if test="reserved3 != null">
                reserved3,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="loginname != null">
                #{loginname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                #{realname,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
            <if test="regtime != null">
                #{regtime,jdbcType=TIMESTAMP},
            </if>
            <if test="regip != null">
                #{regip,jdbcType=VARCHAR},
            </if>
            <if test="trytimes != null">
                #{trytimes,jdbcType=INTEGER},
            </if>
            <if test="idno != null">
                #{idno,jdbcType=VARCHAR},
            </if>
            <if test="reserved1 != null">
                #{reserved1,jdbcType=VARCHAR},
            </if>
            <if test="reserved2 != null">
                #{reserved2,jdbcType=VARCHAR},
            </if>
            <if test="reserved3 != null">
                #{reserved3,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="listAllUser" resultType="java.util.HashMap">
        <include refid="querySql"></include>
  </select>

    <!-- 通过id查找用户记录 -->
    <select id="findById" parameterType="java.lang.Integer"
            resultMap="BaseResultMap">
        <include refid="querySql"></include>
        <![CDATA[
			where u.id=#{id}
		]]>
    </select>



    <!-- 通过登录名查找用户记录 -->
    <select id="findByLoginName" parameterType="java.lang.String"
            resultMap="BaseResultMap">
        <include refid="querySql"></include>
        <![CDATA[
			where u.loginName=#{loginName}
		]]>
    </select>

    <sql id="querySql">
		select
		u.id,
		u.loginName,
		u.password,
		u.nickName,
		u.realName,
		u.email,
		u.phone,
        role_id,
        regTime,
        regIP,
        tryTimes,
        idno,
        reserved1,
        reserved2,
        reserved3
		from tbl_user u
	</sql>
</mapper>
